<html>
  <body>
      <div class="container background-div">
          <div class="row" style="margin-left: 5px" >
                <a routerLink = "" class = "col-sm-1 home-button text-center" style="background-color: inherite" >
                 <button class = "btn col-sm-1 home-button text-center" > Home </button>
                </a>
                <a routerLink = "about" class = "col-sm-1 home-button text-center" style="background-color: inherite" >
                  <button class = "btn col-sm-1 home-button text-center" > About </button>
                </a>
          </div> 
          <div class="container foeground-div jumbotron ">
              Lunch application. In the <a routerLink = "">home</a> page, search the name of student in search input form
              . Student with match sequence will be displayed as a dropdown list. Select a correct student.
              In the <a routerLink = "/student-page">Student page</a>, modify ca ( Curriculum Assessment ) mark and/or mark ( Exam Mark )
              of courses. The GPA is Instantly calculated
          <br>
          Students in data base are
          <ul>
              <span><li>Tobi Obadiah - Developer </li></span>
              <li>Bill Gates</li>
               <li>Charlse Babage</li>
               <li>John Deo</li>
               <li>Steve Jobs</li>
          </ul>
              
              <h3>
                  Tobi Obadiah. A Computer Science student at the university of Buea
              </h3>
          </div>
          
        </div>
  </body>
</html>